{$APP_HOST:localhost} {
    encode gzip zstd

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
        Strict-Transport-Security "max-age=31536000"
    }

    reverse_proxy app:8080
}

assets.insideout-socks.store {
    encode gzip zstd
    reverse_proxy minio:9000
}
